apiVersion: v1
kind: Service
metadata:
  name: policy-agent
  labels:
    app: policy-agent
spec:
  selector:
    app: policy-agent
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 8443
      protocol: TCP
